body {
  padding: 20px;
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
  background-color: #383838;
  color: #f3e0ec;
}

h1 {
  color: #ee5622;
}

div {
  border-radius: 5px;
  background-color: #383838;
  padding: 20px;
}

.dark {
  color: #383838;
}

.container-fluid{
  width: 100%;
  padding: 10px;
}

.message{
  color: green;
}

.error{
  color: red;
}



/****************
TABLES
*****************/
div.calendar{
  width: 30%;
  min-width: 200px;
  max-width: 400px;
  text-align: center;
  display: inline-block;
  padding-left: 0px;
}

table {
  width: 100%;
}

table.users {
  max-width: 840px;
  text-align: left;
}

div.newuser{
  max-width: 360px;
}

td.button{
  width: 100px
}

div .course-list{
  display: inline-block;
  margin-left: 30%;
  text-align: center;
  min-width: 300px;
}

table.gradable-items tr:nth-child(even){
  background: #494949;
}

table.gradable-items tr:nth-child(odd){
  background: #5f5f5f;
}

td{
  padding: 5px;
}





/*
Colour scheme:
eca72c yellow
383838 dark grey
ee5622 orange
f3e0ec whiteish
ead5e6 light grey
*/

/****************
FORM INPUTS
*****************/
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #eca72c;
  color: #f3e0ec;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ffa200;
}


input[disabled] {
  background-color: #eebd68;
}

input[disabled]:hover {
  background-color: #eebd68;
  cursor: default;
}



/****************
NAVBAR
*****************/
nav {
  padding: 0;
  color: #f3e0ec;
  background: #383838;

}

.nav input[type=submit] {
  margin: 0;
  padding: 0;
}

.nav{
  font-size: 14px;
  margin: 0px;
  padding:0px;
}

.navbar-item{
  font-size: 14px;
  float: right;
  margin: 3px;
  background-color: #eca72c;
  color: #f3e0ec;
  border: none;
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.navbar-item:hover{
  background-color: #ffa200;
}
