extends layout

block content
  
  - var page = 'index'
  div.container-fluid
    h1 #{title}
    h2 Select a user to login
    div.newuser
      form(action='/overview' method="post")
        label(for='userOpt') Users
        if users.length > 0
          select(name='user')
            each user in users
              option("value"=user.StudentID) #{user.StudentName}
          input(type='submit', value='Login')
        else 
          p.error No users available.
          input(type='submit', disabled, value='Login')

