doctype html
html
  head
    title= title
    block styles
      link(rel='stylesheet' type='text/css' href='stylesheets/style.css')
  
  body
    header
      nav.navbar
        if studentDetails
          a.logout.navbar-item(href="/") Logout
          if studentDetails[0].IsAdmin
            a.navbar-item(href="/admin") Manage Users
    
    block content
