doctype html
html
  head
    title= title
    block styles
      link(rel='stylesheet' type='text/css' href='stylesheets/style.css')
    block javascript
      script(type='text/javascript',src='javascripts/frontend.js')
  body
    header
    - var page = 'layout'
      nav.navbar
        h1.title GradeAchiever
        if studentDetails || thisID
          a.logout.navbar-item(href="/") Logout
          unless page === 'admin'
            if studentDetails && studentDetails.IsAdmin
              #{isAdmin = true}
            if isAdmin
              form.navbar-item.nav(action='/admin' method="post")
                input(type='hidden' name='user' value=thisID)
                input(type="submit" value="Manage Users")
          unless page === 'userhome'
            form.navbar-item.nav(action='/overview' method="post")
              input(type='hidden' name='user' value=thisID)
              input(type="submit" value="Course Overview")
      
    
    block content
  
  script(src='main.js')